body {

  background-color: #DCE2BE;
  font-family: 'Baloo', cursive;
  font-size: 250%;
  color: #C43C3C;

}

#fucking-slider img{

  width:100%;

}

#carousel slide{

  width: 50%;
  height: 50%;

}


.wrap {

  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 30px 10px 30px;


}
